In [2]:
import pandas as pd
from sqlalchemy import create_engine

server = 'JERAL_BENITES'
database = 'picks'
username = 'sa'
password = 'zaperoko1'

connection_string = f'mssql+pyodbc://{username}:{password}@{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server'
engine = create_engine(connection_string)

sql_query = """
SELECT 
    match.app, couponb.name cupon, categoryb.name categoria, match.bet apuesta,
    match.day dia, match.time hora, match.rate tasa, match.status estado, teamaway.name equipoVisita, teamhome.name  equipoLocal
FROM [dbo].[match_bet] AS match
LEFT JOIN [dbo].[team_bet] AS teamaway
       ON match.id_away_team = teamaway.id
LEFT JOIN [dbo].[team_bet] AS teamhome
       ON match.id_home_team = teamhome.id
LEFT JOIN [dbo].[league_bet] AS league
       ON match.id_league = league.id
LEFT JOIN [dbo].[category_bet] AS categoryb
       ON match.id_category = categoryb.id
LEFT JOIN [dbo].[coupon_bet] AS couponb
       ON categoryb.id_coupon = couponb.id
"""

data = pd.read_sql(sql_query, engine)

data.head()

,app,cupon,categoria,apuesta,dia,hora,tasa,estado,equipoVisita,equipoLocal
0,TIPS BET (PREDICCIONES),FREE,20+ ODDS,BOTH TEAMS SCORE/YES,26-09-2023,11:00,1.75,EN ESPERA,FREDERICIA,AALBORG
1,TIPS BET (PREDICCIONES),FREE,GOAL GOAL,BOTH TEAMS SCORE/YES,26-09-2023,11:00,1.75,EN ESPERA,FREDERICIA,AALBORG
2,ELITE TIP BET,V.I.P,BIG WIN VIP,AALBORG WINS,26-09-2023,11:00,1.45,EN ESPERA,FREDERICIA,AALBORG
3,TIPS BET (PREDICCIONES),V.I.P,HT FT VIP,HT/FT 0/0,27-08-2023,08:00,5.50,EN ESPERA,HILLEROD,AALBORG
4,MULTI TIPS,FREE,FOOTBALL,MIDTJYLLAND WINS OR DRAW,06-03-2023,13:00,1.32,GANADO,MIDTJYLLAND,AALBORG